<div class="form-group">
    <%= f.label :value, "Contacto", :class => 'col-sm-2 control-label' %>
  <div class="col-sm-5">
    <%= f.text_field :value, :class => 'form-control' %>

    <%= f.select(:source) do %>
      <% ['Whatsapp', 'Telefono', 'Mail'].each do |c| %>
        <%= content_tag(:option, c, value: c) %>
      <% end %>
    <% end %>
    <%= f.link_to_remove "Eliminar" %>
  </div>
</div>

