<div class='row'>

<%= nested_form_for @client, html: {class: 'form-horizontal'} do |f| %>

  <% if @client.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li class="alert alert-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='col-md-3 col-md-offset-2'>
      <div class="form-group">
        <%= f.label :name, 'Nombre' %>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :surname, 'Apellido' %>
        <%= f.text_field :surname, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :gender, 'Genero' %>
        <%= f.text_field :gender, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :dni, 'DNI' %>
        <%= f.number_field :dni, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :cui, 'CUIT/CUIL' %>
        <%= f.number_field :cui, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :birthdate, "Fecha de nacimiento" %>
        <%= f.date_field :birthdate, :class => 'form-control' %>
      </div>
  </div>

  <div class='col-md-3 col-md-offset-2'>
      <%= f.fields_for :contacts do |builder| %>
        <%= render 'contact_fields', f: builder %>
      <% end %>

      <%= f.link_to_add :contacts, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-plus"></span> Agregar
      <% end %>
  </div>
</div> <%# end row! %>

<div class='row'>
  <div class="col-md-1 col-md-offset-5">
    <%= f.submit "Crear Cliente", :class => 'btn-lg btn btn-success' %>
    <% end %> <%# end form! %>
  </div>
</div> <%# end row! %>
