<h1 class="text-center">Cliente:  <%= "#{@client.name} #{@client.surname}" %> </h1>

<%= nested_form_for @client, html: {class: 'form-horizontal'} do |f| %>

  <div class="form-group">
    <%= f.label :gender, 'Genero', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :gender, :class => 'form-control' %>
    </div>
  </div>

  <h3 class="text-center">Medios de contacto:</h3>
  <%= f.fields_for :contacts do |builder| %>
    <%= render 'contact_fields', f: builder %>
  <% end %>

  <%= f.link_to_add "Agregar contacto", :contacts %>

  <%= f.submit "Guardar cambios", :class => 'btn btn-lg btn-success' %>
<% end %>

<%= link_to 'Volver', clients_path, :class => 'btn btn-warning' %>
<%= link_to 'Ver', @client, :class => 'btn btn-info' %>
