<h1>Cliente:  <%= @client.name %> </h1>

<%= form_for @client do |f| %>

  <%= f.label :gender, 'Genero' %>
  <%= f.text_field :gender %>

  <strong>Medios de contacto:</strong>
  <%= f.fields_for :contacts do |builder| %>
    <%= render 'contact_fields', f: builder %>
  <% end %>

  <%= f.submit "Guardar cambios" %>
<% end %>

<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>
