<h1>Todos los clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |c| %>
    <tr>
        <td><%= c.name %></td>
        <td>
          <%= link_to 'ver', client_path(c) %>
          <%= link_to 'editar', edit_client_path(c) %>
          <%= link_to 'borrar', client_path(c), method: :delete,
            data: {confirm: 'Esta seguro de eliminar al cliente?'} %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3><%= link_to 'Crear cliente', new_client_path %></h3>
