<h1>Todos los clientes</h1>
<h3><%= link_to 'Crear cliente', new_client_path %></h3>

<table>
  <tr>
    <th>Nombre</th>
    <th>Acciones</th>
  </tr>
  <tr>
<% @clients.each do |c| %>
  <th><%= c.name %></th>
  <th>
    <%= link_to 'ver', client_path(c) %>
    <%= link_to 'editar', edit_client_path(c) %>
    <%= link_to 'borrar', client_path(c), method: :delete,
      data: {confirm: 'Esta seguro de eliminar al cliente?'} %>
  </th>
<% end %>
  </tr>
</table>
