<h3>Nuevo cliente</h3>

<%= form_for :client, url: clients_path do |f| %>
  <%= f.label :Nombre %>
  <%= f.text_field :name %>

  <%= f.label :Apellido %>
  <%= f.text_field :lastname %>

  <%= f.label :Genero %>
  <%= f.text_field :gender %>

  <%= f.label :DNI %>
  <%= f.number_field :dni %>

  <%= f.label :Fecha_de_Nacimiento %>
  <%= f.date_field :birthdate %>

  <%= f.submit "Crear" %>
<% end %>
