<h1 class="text-capitalize"><%= "#{@client.name}  #{@client.surname}" %></h1>

<dl class="dl-horizontal">
  <dt>DNI</dt>
  <dd><%= @client.dni %></dd>

  <dt>Fecha de nacimiento:</dt>
  <dd><%= @client.birthdate %></dd>

  <dt>Genero:</dt> 
  <dd><%= @client.gender %></dd>

  <dt>CUIT/CUIL:</dt> 
  <dd><%= @client.cui %></dd>

  <dt>Contactos:</dt> 
  <dd>
    <ul>
      <% @client.contacts.each do |contact| %>
        <li>
        <%= contact.source << ':'%>
        <%= contact.value %>
        </li>
      <% end %>
    </ul>
  </dd>
</dl>

<%= link_to 'Volver', clients_path, :class => 'btn btn-warning' %>
<%= link_to 'Editar', edit_client_path(@client), :class => 'btn btn-primary' %>
