<div class="container">
<div class="row">

<h1 class="text-capitalize"><%= "#{@client.name}  #{@client.surname}" %></h1>

<dl class="dl-horizontal">
  <dt>DNI:</dt>
  <dd><%= @client.dni %></dd>

  <dt>Fecha de nacimiento:</dt>
  <dd><%= date(@client.birthdate) %></dd>

  <dt>Edad:</dt>
  <dd><%= age(@client.birthdate) %></dd>

  <dt>Genero:</dt> 
  <dd><%= @client.gender %></dd>

  <dt>CUIT/CUIL:</dt> 
  <dd><%= @client.cui %></dd>

  <dt>Contactos:</dt> 
  <dd>
    <ul>
      <% @client.contacts.each do |contact| %>
        <li>
        <%= contact.source << ':'%>
        <%= contact.value %>
        </li>
      <% end %>
    </ul>
  </dd>
</dl>

<p> El monto total facturado por a침o para el cliente (al estilo "En 2015 factur칩 $ 999.999,00").  </p>
<p><%= @bills_by_year %></p>

<p> La cantidad de facturas que el cliente ha emitido por mes desde Enero del corriente a침o.  </p>
<p><%= @bills_per_month %></p>

<p> Las 5 personas a las que m치s les ha facturado ese cliente. </p>
<p><%= @most_sold %></p>

<%= link_to 'Volver', clients_path, :class => 'btn btn-warning' %>
<%= link_to 'Editar', edit_client_path(@client), :class => 'btn btn-primary' %>
</div>
</div>

