<h1>Cliente  </h1>

<ul>
  <li><%= "#{@client.name}  #{@client.surname}" %></li>
  <li>DNI: <%= @client.dni %></li>
  <li>Fecha de nacimiento: <%= @client.birthdate %></li>
  <li>Genero: <%= @client.gender %></li>
  <li>Contactos:
    <ol>
    <% @client.contacts.each do |contact| %>
      <li>
          <%= contact.source << ':'%>
          <%= contact.value %>
    </li>
    <% end %>
    </ol>
  </li>
</ul>

<%= link_to 'Volver', clients_path %>
<%= link_to 'Editar', edit_client_path(@client) %>
