<h1>Cliente <%= @client.name %> </h1>

<ul>
  <li><%= @client.lastname %></li>
  <li><%= @client.dni %></li>
  <li><%= @client.birthdate %></li>
  <li><%= @client.gender %></li>
  <li>Contactos:
    <ol>
    <% @client.contacts.each do |contact| %>
      <li>
          <%= contact.source << ':'%>
          <%= contact.value %>
    </li>
    <% end %>
    </ol>
  </li>
</ul>

<%= link_to 'Volver', clients_path %>
<%= link_to 'Editar', edit_client_path(@client) %>
