<div class="container">
<div class="row">

<h1 class="text-capitalize"><%= "#{@client.name}  #{@client.surname}" %></h1>

<dl class="dl-horizontal">
  <dt>DNI:</dt>
  <dd><%= @client.dni %></dd>

  <dt>Fecha de nacimiento:</dt>
  <dd><%= date(@client.birthdate) %></dd>

  <dt>Edad:</dt>
  <dd><%= age(@client.birthdate) %></dd>

  <dt>Genero:</dt> 
  <dd><%= @client.gender %></dd>

  <dt>CUIT/CUIL:</dt> 
  <dd><%= @client.cui %></dd>

  <dt>Contactos:</dt> 
  <dd>
    <ul>
      <% @client.contacts.each do |contact| %>
        <li>
        <%= contact.source << ':'%>
        <%= contact.value %>
        </li>
      <% end %>
    </ul>
  </dd>
</dl>

<h3> El monto total facturado por año para el cliente (al estilo "En 2015 facturó $ 999.999,00").  </h3>
<% @bills_by_year.each do |year, amount| %>
  <p><%= "En #{year} facturó: #{amount}" %></p>
<% end %>

<h3> La cantidad de facturas que ha emitido por mes desde Enero del corriente año:  </h3>
<% @bills_per_month.each do |month_total| %>
  <p><%= "#{monthname_from_int(month_total[0])} emitió #{month_total[1]}"%></p>
<% end %>

<h3> Las 5 personas a las que más les ha facturado: </h3>
<% @most_sold.each do |client, total| %>
  <p><%= "A #{client}: #{total}"  %></p>
<% end %>

<%= link_to 'Volver', clients_path, :class => 'btn btn-warning' %>
<%= link_to 'Editar', edit_client_path(@client), :class => 'btn btn-primary' %>
</div>
</div>

