<%= form_for :person, remote: true, url: {controller: "people", action: "create"}, html:{id: 'new-person-form'} do |f| %>
  <div class="actions">
  <%= f.label :name, 'Nombre' %><br>
  <%= f.text_field :name %><br>

  <%= f.label :cui, 'CUIT/CUIL' %><br>
  <%= f.text_field :cui %><br>

  <%= f.submit 'Guardar'%>
</div>
<% end %>
