<div class="panel panel-default">
  <div class="panel-heading">Facturas</div>

  <table class="table">
    <thead>
      <tr>
        <th>Numero de factura</th>
        <th>Fecha de emision</th>
        <th>Cliente</th>
        <th>CUIL/CUIT</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @bills.each do |bill| %>
        <tr>
          <td><%= bill.id %></td>
          <td><%= bill.emission_date %></td>
          <td><%= "#{bill.client.name}  #{bill.client.surname}"%></td>
          <td><%= bill.client.cui %></td>
          <td>
            <%= link_to 'Ver', bill, :class => 'btn btn-info' %>
            <%= link_to 'Editar', edit_bill_path(bill), :class => 'btn btn-primary' %>
            <%= link_to 'Borrar', bill, method: :delete, data: { confirm: 'Esta seguro?' }, :class => 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Crear factura', new_bill_path, :class => 'btn btn-default' %>
