<p id="notice"><%= notice %></p>

<p>Cliente: <%= "#{@bill.client.name} #{@bill.client.surname}" %></p>
<p>Persona: <%= @bill.person.name %></p>
<p>Descripcion: <%= @bill.description %> </p>
<p>Monto: <%= @bill.total %></p>
<p>Fecha: <%= @bill.emission_date %></p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
